# Build directories
build/
out/
CMakeFiles/
Testing/
_deps/

# CMake files
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json

# VcPkg
vcpkg_installed/

# IDE specific
.vscode/
.idea/
*.swp
*~

# Compiled files
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj

# Test output
*.xml